<div class="conrainer">
  <div class="row">
    <div class="col-md-4 offset-1">
      <h2>商品詳細</h2>
        <div class="image_field mt-3">
         <%#= attachment_image_tag 保存先インスタンス名, :保存先カラム名, :fill, 幅, 高さ, format:'拡張子', fallback:"代替画像" %>
         <%= attachment_image_tag @item, :image,  format: 'jpeg', fallback: "no_image.jpg", size: "300x200" %>
        </div>
    </div>
    <div class="col-md-5 mt-5">
      <table class="table table-borderless">
        <tr>
         <th>商品名</th>
         <td><%=  @item.name %></td>
       </tr>
       <tr>
        <th>商品説明</th>
        <td><%= @item.introduction %></td>
       </tr>
       <tr>
        <th>ジャンル</th>
        <td><%= @item.genre.name %></td>
       </tr>
       <tr>
        <th>税込価格(税抜価格)</th>
        <td> <%=  @item.add_tax_price.to_s(:delimited) %><%#=税込価格%>
             (<%= @item.price.to_s(:delimited) %>)円<%#=税抜き価格%></td>
       </tr>
       <tr>
        <th>販売ステータス</th>
        <% if @item.is_active == "販売中" %>
         <td class="active"><%= @item.is_active %></td>
        <% else %>
         <td class="no-active"><%= @item.is_active %></td>
        <% end %>
       </tr>
       <tr>
         <th></th>
         <td><%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %></td>
       </tr>
      </table>
  </div>
 </div>
</div>
