<h1>注文詳細</h1>

 <h4>購入者</h4>
  <td><%= @order.name %></td>

  <h4>注文日</h4>
  <%= @order.created_at %>

   <h4>配送先</h4>
   <%= @order.address %>

    <h4>支払い方法</h4>
    <%=  @order.payment_method %>
     <h4>注文ステータス</h4>
    <%= @order.status %>
  <%#= link_to "編集する",admin_customer_path(@customer.id) %>

   <table class="table table-bordered genre-table">
              <thead>
                <tr>
                  <th>商品名</th>
                  <th>単価(税込)</th>
                  <th>数量</th>
                  <th>小計</th>
                  <th>制作ステータス</th>
                </tr>
              </thead>
              <tbody>
                <% @sum = 0 %>
                <% @order.each do |order| %>
                <tr>
                  <td>
                    <%= order.item.name %></td>
                  <td><%= (order.item.price*1.1).round %></td>
                  <td><%= order.amount %></td>
                  <td><%= ((order.item.price*1.1).round)*(order.amount) %>
                      <% @sum += ((order.item.price*1.1).round)*(order.amount) %>
                  </td>
                </tr>
                  <% end %>
              </tbody>
            </table>
　　　      商品合計<%= @sum %>
　　　      送料
　　　      請求合計金額

